@inherits LayoutComponentBase
<nav class="navbar navbar-expand shadow">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav nav-underline">
                @foreach (var menu in _menuItems)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" ActiveClass="active" href="@menu.Url">@menu.Name</NavLink>
                    </li>
                }
            </ul>
            <div class="flex-fill">
                <ul class="navbar-nav flex-row-reverse">
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="bi bi-bell-fill"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @onclick="OnColorChangeBtnClickAsync">
                            <i class="bi @_currentColorSchemeIcon"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="me-2" style="width: 2px; height: 1rem; background: var(--bs-border-color)"></div>
            <h6 class="m-0 text-end">관리자 모드 <strong class="fw-lighter">(@_config.StoreName)</strong></h6>
        </div>
    </div>
</nav>
<div class="container p-3">
    @Body
</div>