@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" />
    </Found>
    <NotFound>
        <PageTitle>404</PageTitle>
        <div class="w-100 full-height d-flex justify-content-center align-items-center">
            <div>
                <h1 class="text-center monospace-font">404</h1>
                <h4 class="text-center monospace-font text-muted">NOT FOUND</h4>
            </div>
        </div>
    </NotFound>
</Router>