@page
@model About
<div class="fixed-top shadow" style="padding: 8px 16px; backdrop-filter: blur(3px)">
    <div class="container d-flex ">
        <a class="nav-link" href="/Customer/Authorize">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" style="margin-top: 6px">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>
        </a>
        <h6 class="m-0 text-center flex-grow-1" style="line-height: 32px">도움말</h6>
    </div>
</div>
<div class="container p-4 mt-3" style="padding-top: 60px !important;">
    <section class="fw-light lh-base">
        <h5 class="fw-bold">개요</h5>
        <p>본 웹 어플리케이션은 셀프 주문 서비스입니다.<br/> 손님은 매장 입장 시 발급받은 일회용 인증 코드를 이용해 자신의 스마트폰에서 주문 페이지에 접속할 수 있습니다.</p>
        <p>코드가 유효한 동안 같은 테이블의 여러 기기가 동시에 접속해 주문·결제 요청·주문 내역 확인을 수행할 수 있으며, 직원 호출 없이도 편리한 비대면 서비스를 경험할 수 있습니다.</p>
    </section>
    <hr class="mt-4 mb-4"/>
    <section class="fw-light lh-base">
        <h5 class="fw-bold">개인정보 보호</h5>
        <p>클라우드인터렉티브는 사용자의 개인 정보를 보호하기 위해 기술적, 법적 책임을 다하고 있습니다.</p>
        <p>이 시스템은 주문 처리에 필요한 메뉴, 금액, 시간등 비식별 주문정보만 저장하며, 이용자의 이름, 연락처, 결제 정보를 수집 밎 저장하지 않습니다.</p>
    </section>
    <hr class="mt-4 mb-4"/>
    <section>
        <h5 class="fw-bold">오픈소스 소프트웨어 고지</h5>
        <p>MIT 라이선스 (MIT) <br/>
            Copyright © 2025 Coppermine-SP.<br/><br/>
            본 소프트웨어 및 관련 문서 파일(이하 “소프트웨어”)의 사본을 입수한 모든 사람에게 소프트웨어를 제한 없이 사용  ·복사 · 수정 · 병합 · 발행 · 배포 · 서브라이선스 · 판매할 권리를 무상으로 허가합니다. 단, 다음 조건을 준수해야 합니다:<br/><br/>
            위 저작권 표시 및 본 허가 고지를 소프트웨어의 모든 복사본 또는 주요 부분에 포함해야 합니다.<br/>
            본 소프트웨어는 ‘있는 그대로’ 제공되며, 상품성 · 특정 목적 적합성 · 비침해성에 대한 명시적 · 묵시적 보증을 포함하여 어떠한 보증도 하지 않습니다. 저자 또는 저작권자는 소프트웨어 사용 또는 그 밖의 거래와 관련하여 발생하는 어떠한 청구 · 손해·  책임에도 책임을 지지 않습니다.
        </p>
    </section>
</div>