@inherits LayoutComponentBase
<nav class="navbar navbar-expand shadow fixed-top bg-body">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav nav-underline">
                @foreach (var menu in _menuItems)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" ActiveClass="active" href="@menu.Url">@menu.Name</NavLink>
                    </li>
                }
            </ul>
            <div class="flex-fill">
                <ul class="navbar-nav flex-row-reverse">
                    <li class="nav-item">
                        <a class="nav-link" @onclick="OnCallBtnClickAsync">
                            <i class="bi bi-bell-fill"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @onclick="OnColorChangeBtnClickAsync">
                            <i class="bi @_currentColorSchemeIcon"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="me-2" style="width: 2px; height: 1rem; background: var(--bs-border-color)"></div>
            <h6 class="m-0 text-end">테이블 @_session?.Table?.Name</h6>
        </div>
    </div>
</nav>
<div id="notify-bar" class="container px-2 d-grid">
    
</div>
@if (_session is not null)
{
    <div class="container p-3" style="margin-top: 58px">
        <CascadingValue Value="@_session!.SessionId" Name="TableSessionId">
            @Body
        </CascadingValue>
    </div>
}