@attribute [Authorize(Policy = AuthorizationHandler.EndedSessionPolicy)]
@page "/Customer/Receipt"
    <PageTitle>@config.StoreName - 전자영수증</PageTitle>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column p-3">
            <h3>감사합니다.</h3>
            <h5 class="text-secondary mb-0">계산 요청이 완료되었습니다.</h5>
            <div class="bg-dark w-100 my-4 rounded" style="height: 3px; max-width: 50px"></div>
           <SessionReceipt SessionId="table.GetSession()!.SessionId"></SessionReceipt>
        </div>
    </div>