@media (min-width: 992px){
    .offcanvas-lg {
        position: sticky;
        top: 1.5rem;
        height: calc(100vh - 15rem);
        transform: none;
        visibility: visible !important;
        width: 380px;
        border: 0;
    }
}