@page "/Administrative/TableView"
@layout Shared.AdminPageLayout
<h3>TableView</h3>

<InputText type="text" @bind-Value="@testvalue"/>
<button class="btn btn-primary" @onclick="Test">전솔</button>
@code {
    
}