@media (min-width: 992px){
    .offcanvas-lg {
        position: sticky;
        top: 1.5rem;
        transform: none;
        height: 100%;
        visibility: visible !important;
        width: 380px;
        border: 0;
    }
}