@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
  font-family: "0xProto";
  src: local("0xProto"),
  url("../fonts/0xProto/0xProto-Regular.otf") format("otf"),
  url("../fonts/0xProto/0xProto-Regular.ttf") format("ttf"),
  url("../fonts/0xProto/0xProto-Regular.woff2") format("woff2");
}

body{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.monospace-font{
  font-family: "0xProto", monospace;
}

a{
  text-decoration: none;
}

.code-input {
  -moz-appearance: textfield;
  width: 55px;
  font-family: "0xProto", monospace;
  height: 70px;
  font-size: 28px; 
  margin-left: 18px;
  text-align: center;
  border: solid 1px gray;
  border-radius: 8px;
}

[data-bs-theme=dark]{
  .code-input{
    background: #262628
  }
}

.full-height {
  height: 100vh; /* 혹시나 Custom Property 지원 안하는 브라우저를 위한 복귀점(Fallback) */
  height: calc(var(--vh, 1vh) * 100);
}

#notify-bar{
  position: fixed;
  top: 60px;
  left: 50%; 
  transform: translate(-50%, 0);z-index: 1000;
}

.notify-bar-item {
  grid-area: 1 / 1;                 
  transform: translateY(-.5rem);     
  opacity: 0;
  transition: opacity .25s ease, transform .25s ease;
  pointer-events: auto;
}

.notify-bar-item.mb-show {
  opacity: 1;
  transform: translateY(0);
}